/* GLOBAL */

body {
  background-color: #eee;
}

h1 {
  color: #666;
}

/* SHARED */

.box {
  display: flex;
  flex-direction: column;
}

.box h2 {
  margin-top: 0;
}

.card {
  background-color: #eee;
  margin: 0.2em;
  padding: 0.5em;
}

.card h4 {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: bold;
}

/* SPRINT PLANNING */

.sprint-planning {
  display: flex;
  flex-direction: row;
}

/* ISSUES */

.issues-box {
}

.issues-bucket {
}

.issue-item {
}

/* TEAM MEMBERS */

.team-members-box {
}

.team-member-item {

}
