/* GLOBAL */

body {
  background-color: #eee;
}

h1 {
  color: #666;
}

/* SHARED */

.box {
  display: flex;
  flex-direction: column;
}

.box h2 {
  margin-top: 0;
}

.card {
  background-color: #eee;
  margin: 0.2em;
  padding: 0.5em;
}

.card h4 {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: bold;
}

/* SPRINT PLANNING */

.sprint-planning {
  display: flex;
  flex-direction: row;
}

/* ISSUES */

.issues-box {
}

.issues-bucket {
}

.issue-item {
}

.issue-item__summary {
  padding-left: 5px;
}

/* TEAM MEMBERS */

.team-members-box {
}

.team-member-item {

}

/* COMPONENTS */

.editable-label {
  /*border: 0;
  font-size: 1em;
  background: transparent;*/
}

.editable-label .editable-label__button {
  display: none;
  margin-left: 5px;
}

.editable-label:hover .editable-label__button {
  display: inline;
}
